.footer a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #00a1e0;
}

.footer h5 {
  color: black;
  margin-bottom: 1rem;
}

.social-icons i {
  font-size: 1.3rem;
  color:black;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #00a1e0;
}
.container {
  background-color: #f8f9fa;
  color: #0f0f10; /* or try #212529 for deeper contrast */
  font-family: 'Segoe UI', sans-serif;
}
